body
{
background : url('a.jpg');
background-size: 100%;
}
h2
{font-family:comic sans ms text;

}
table
{background:rgb(137, 195, 235)
}
.td {
font-weight:bold;
}
.dashed
{
border-style:dashed;
border-color:pink;
}