body
{
background:rgb(179, 141, 194)
}
h2
{font-family:comic sans ms text;
background-color:white;
}
table
{background:white
}
.td {
font-weight:bold;
}
.dashed
{
border-style:dashed;
border-color:pink;
}